body {
  font-family: helvetica;
}

.logo-left {
  color: #9f54db;
  font-family: Helvetica;
  font-size: 50;
}

.logo-right {
  color: #363e69;
  font-family: luminari;
}

header {
  width: auto;
  width: 100%;
  height: 50px;
  background-color: #edecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 0 15px;
}

.header-right {
  display: inline-flex;
}

.header-links li {
  display: inline-flex;
}
