body {
  font-family: helvetica;
  color: #363e69;
}

.logo-left {
  color: #9f54db;
  font-family: Helvetica;
  font-size: 50;
}

.logo-right {
  font-family: luminari;
}

header {
  width: auto;
  height: 50px;
  background-color: #edecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 0 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  border: 1px solid #363e69;
  background-color: #ffffff;
}

#search-box {
  border-radius: 40px;
  border: none;
  margin: 2px;
}

.search-form button,
.mobile-search {
  border: none;
  background-color: transparent;
  color: #363e69;
}

.header-right select {
  font-size: 12px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #363e69;
  margin-left: 12px;
  margin-right: 7px;
}

.header-links li,
.nav-header li {
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.header-right,
.header-left {
  display: inline-flex;
  align-items: center;
}

.header-links {
  margin-left: 0%;
  padding-left: 0%;
}

.hamburger-menu {
  padding-right: 10px;
}

.logo-mobile {
  font-size: 20px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 90%;
  height: 40px;
  border-bottom: 5px solid rgba(147, 137, 178, 0.18);
}

.mobile-view {
  height: 50px;
  width: 100% !important;
}

.mobile-header-nav li {
  padding-left: 10px;
}

.nav-left ul {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

.nav-right ul {
  display: flex;
  justify-content: space-between;
}

.nav-left li:not(:last-child) {
  padding-left: 0px;
  padding-right: 15vw;
}

.nav-right li {
  padding-right: 0px;
  padding-left: 20px;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .mobile-view {
    display: flex !important;
  }

  .desktop-view {
    display: none !important;
  }

  .nav-header {
    display: none !important;
  }
}
