body {
  font-family: helvetica;
  color: #363e69;
}

.logo-left {
  color: #9f54db;
  font-family: Helvetica;
  font-size: 50;
}

.logo-right {
  font-family: luminari;
}

header {
  width: auto;
  height: 50px;
  background-color: #edecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 0 15px;
}

.header-links li {
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.header-right {
  display: inline-flex;
  align-items: center;
}

.header-links {
  margin-left: 0%;
  padding-left: 0%;
}
